@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap&subset=cyrillic-ext);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 90;
  background-color: white;
  overflow: hidden;
}

.wrapper .main-image {
  position: absolute;
  z-index: -1;
  right: 0;
}

.section {
  width: 1180px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 195px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.logo > img {
  max-width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.menu li {
  font-family: "Lato";
  font-weight: 400;
  font-size: 24px;
  list-style-type: none;
  color: black;
  margin-right: 85px;
  color: black;
}

.menu li a {
  text-decoration: none;
  color: inherit;
}

.menu :nth-child(4) {
  color: white;
}

.menu > :last-child {
  margin-right: 0;
  color: white;
}

.slogan {
  width: 100%;
  white-space: pre-line;
}

.slogan h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
}

.slogan .author {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 59px;
}

.slogan .text {
  width: 60%;
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  white-space: pre-line;
  line-height: 22px;
  margin-bottom: 16px;
}

.slogan .ancor {
  width: 184px;
  height: 62px;
  display: block;
  background: #091020;
  text-align: center;
  white-space: wrap;
  margin-bottom: 210px;
}

.slogan a {
  text-decoration: none;
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  color: #27C1E6;
  line-height: 62px;
  white-space: wrap;
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
}

.numbers li {
  width: 50px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  list-style-type: none;
}

.numbers li a {
  color: #091020;
  line-height: 50px;
}

.numbers > li:hover {
  background-color: #091020;
}

.numbers > li:hover a {
  color: white;
}

.wrapper2 {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #FAFFFF;
  padding: 90px 0 45px 0;
}

.header-block {
  margin: 0px auto;
  padding: 0px 0 66px 0;
}

.header-block h2 {
  text-align: center;
  font-family: "Lato";
  font-weight: 700;
  font-size: 36px;
  color: #091020;
  text-transform: uppercase;
}

.servis-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.servis {
  width: 370px;
  background-color: #091020;
  color: white;
  font-family: "Lato";
  text-align: center;
  white-space: pre-line;
  padding: 27px 65px 52px 65px;
}

.servis img {
  margin-bottom: 15px;
}

.servis h4 {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 20px;
}

.servis p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.wrapper3 {
  padding: 45px 0 41px 0;
  max-width: 1920px;
  margin: 0 auto;
  background-image: url("../images/fon.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-block-treiners {
  margin: 0 auto;
  text-align: center;
  font-family: "Lato";
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 68px;
}

.header-block-treiners h2 {
  font-weight: 700;
  color: white;
}

.trainers-content {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trainers {
  width: 363.333333333px;
  border: 1px solid white;
  padding: 30px 15px 36px 15px;
  color: white;
  text-align: center;
  font-family: "Lato";
  font-size: 18px;
  line-height: 22px;
}

.trainers img {
  max-width: 100%;
}

.trainers :nth-child(2) {
  padding: 10px 0;
  background-color: #091020;
  font-weight: 600;
  margin-bottom: 20px;
}

.trainers :nth-child(3) {
  font-weight: 500;
  white-space: pre-line;
}
/*# sourceMappingURL=style.css.map */