// Обнуление 
@import "default.scss";
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

// Шрифты---------------------------------------------------------------------------------------------------
// &subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap&subset=cyrillic-ext);

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf")format("truetype");
    font-style: normal; 
    font-weight: normal;
  }

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    
}

.wrapper{
    position: relative;
    max-width:1950px;
    padding:10px 15px;
    margin:0 auto;
    z-index: 90;
    background-color:rgb(255, 255, 255);
    overflow-y: hidden;

    @media(max-width:$mini){
        padding:5px;
    }

    .main-image{
        position: absolute;
        z-index: -1;
        right:0;

        @media(max-width:1828px){
            display: none;
        }
    }
}

.menu-burger-container{
    display:none;

    @media(max-width:$reg){
        display:flex;

    }
}

.section{
    max-width: 1180px;
    margin:0 auto;
}

.header{
    position: relative;
    display:flex;
    max-width:100%;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom:195px;

    @media(max-width:1828px){
        margin-bottom: 150px;
    }

    @media(max-width:$reg){
        align-items:center;
        margin-bottom: 50px;
    }
}

.logo{
    display: flex;
    align-self: flex-end;
    flex-shrink: 0;
    >img{
        max-width: 100%;
    }
}
// Скрытое меню
.hidden-menu-up-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    z-index: 110;
    width:100vw;
    height:100vh;
    background: rgb(49, 49, 49);
    margin-top:-9900px;

    @media(min-width:993px){
        margin-top:-9999px!important;
    }
}
.close-menu{
    width:32px;
    height:32px;
    position: absolute;
    right:45px;
    top:30px;
    background-image: url("../../images/close.png");
}
.hidden-menu-up{
    font-family: "Lato";
    color:#a0b3b3;
    font-size:32px;
    text-align: center;
    p{
        margin-bottom:25px;
        font-weight: 700;
    }
}

.menu{
    display: flex;
    flex-basis: 810px;
    padding-left:200px;
    flex-shrink: 2;
    white-space: nowrap;
    justify-content: space-between;
    box-sizing: content-box;

    @media(max-width:$reg){
        display: none;
    }

    li{
        font-family: "Lato";
        font-weight: 400;
        font-size: 24px;
        list-style-type: none;
        color:black; 

        a{
            text-decoration: none;
            color:inherit;
        }
    }
    :nth-child(4){
        color:white;

        @media(max-width:1828px){
            color:black;
        }
    }
    >:last-child{
        margin-right: 0;
        color:white;
        @media(max-width:1828px){
            color:black;
        }
    }
}

.slogan{
    width:100%;
    white-space: pre-line;

    @media(max-width:1828px){
        text-align: center;
    }

    h1{
        font-family: "Montserrat";
        font-weight: 900;
        font-size: 48px;
        line-height: 59px;

        @media(max-width:$reg){
            text-align: center;
        }

        @media(max-width:$mini){
            font-size:24px;
            line-height:24px;
        }
    }

    .author{
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 32px;
        line-height: 59px;
    }

    .text{
        font-family: "Lato";
        font-weight: 400;
        font-size: 18px;
        white-space: pre-line;
        line-height: 22px;
        margin-bottom:16px;

        @media(max-width:$mini){
            font-size:14px;
        }
    }
}

.ancor{
    width:184px;
    height:62px;
    display: block;
    background-color: #091020;
    text-align:center;
    white-space: wrap;
    margin-bottom: 210px;
    cursor: pointer;
    
    @media(max-width:1828px){
        margin: 0 auto 100px auto;
    }

    @media(max-width:$med){
        margin-bottom: 50px;
    }
    @media(max-width:$mini){
        margin-bottom:20px;
        width:124px;
        height:44px;
    }
    a{
        text-decoration: none;
        font-family: "Lato";
        font-weight: 400;
        font-size: 18px;
        color:#27C1E6;
        line-height: 62px;
        white-space: wrap;
        transition: color 5.3s ease;

        @media(max-width:$mini){
            line-height: 44px;
        }
    }
}

.numbers{
    display: flex;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;

    li{ 
        width:50px;
        height:50px;
        text-decoration: none;
        text-align: center;
        list-style-type: none;
    }

    a{
        color:#091020;
        line-height: 50px;
        transition: color 1.3s ease 0s;
    }
}   

.numbers>li:hover{
    background-color:#091020;
    transition: background-color 0.3s ease 0s;
    a{
        color:white;
        
    }
}
// Секция услуги
.wrapper2{
    max-width:1920px;
    margin:0 auto;
    background-color:#FAFFFF;
    padding:90px 15px 45px 15px;

    @media(max-width:$med){
        padding-top:45px;
    }
    @media(max-width:$mini){
        padding:20px 5px;
    }
}

.header-block{
    margin:0px auto;
    padding:0px 0 66px 0;

    @media(max-width:$mini){
        padding-bottom:33px;
    }

    h2{
        text-align: center;
        font-family: "Lato";
        font-weight: 700;
        font-size: 36px;
        color: #091020;
        text-transform: uppercase;

        @media(max-width:$mini){
            font-size:24px;
        }
    }
}

.servis-container{
    max-width:100%;
    display: flex;
    justify-content: space-between;
    margin:0 auto;

    :last-child{
        margin-right: 0;
    }
    @media(max-width:992px){
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.servis{
    flex-basis:370px;
    background-color:#091020;
    color:white;
    font-family: "Lato";
    text-align: center;
    white-space: pre-line;
    padding:27px 0px 52px 0px;
    margin-right:25px;

    @media(max-width:992px){
        margin:5px 0;
    }

    @media(max-width:$mini){
        padding:27px 10px 52px 10px;
        white-space: normal;

    }
    
    img{
        margin-bottom:15px;
    }

    h4{
        font-weight: 600;
        font-size: 24px;
        text-transform: uppercase;
        white-space: nowrap;
        margin-bottom: 20px;

        @media(max-width:$mini){
            font-size:18px;
        }
    }

    p{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;

        @media(max-width:$mini){
            font-size:14px;
        }
    }


}
// Cекция НАСТАВНИКИ
.wrapper3{
    padding:45px 15px 41px 15px;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url("../images/fon.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @media(max-width:$mini){
        padding:33px 5px 20px 5px;
    }
}
.header-block-treiners{
    margin:0 auto;
    text-align: center;
    font-family: "Lato";
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 68px;

    @media(max-width:$mini){
        font-size: 24px;
        margin-bottom: 33px;
    }

    h2{
        font-weight: 700;
        color:white;
    }
}

.trainers-content{
    max-width:100%;
    display: flex;
    justify-content: space-between;
    

    @media(max-width:$reg){
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.trainers{
    flex-basis:365px;
    border:1px solid rgb(255, 255, 255);
    padding:30px 15px 36px 15px;
    color:white;
    text-align: center;
    font-family: "Lato";
    font-size: 18px;
    line-height: 22px;

    @media(max-width:$reg){
        margin-bottom: 20px;
    }
    @media(max-width:$mini){   
        font-size:14px;
        margin-bottom: 0;
    }

    img{
        max-width:100%;
    }

    :nth-child(2){
        padding:10px 0;
        background-color: #091020;
        font-weight: 600;
        margin-bottom: 20px;

        @media(max-width:$mini){   
            margin-bottom: 0;
        }
        
    }
    :nth-child(3){
        font-weight: 500;
        white-space: pre-line;

        @media(max-width:$mini){
            max-width:100%;
            white-space:unset;
        }
    }

}
// Секция 4 -----------------------------
.wrapper4{
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding:45px 15px 0 15px;

    @media(max-width:$reg){
        padding:20px 5px 20px 5px;
    }
    @media(max-width:$mini){
        padding-top:33px;
    }
}

.header__container-about-us{
    margin: 0 auto;

    h2{
        text-align: center;
        font-family: "Lato";    
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;

        @media(max-width:$mini){
            font-size: 24px;
        }
    }
}

// Главный контейнер с картинкой и текстом
.about-us__contant-container{
    display: flex;
    // align-items: center;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
}

//-------ТЕКСТ КОНТЕЙНЕР-----<><><><><><><><><>
.about-us__main-container{
    padding-top: 100px;
    width: 50%;
    display: flex;
    flex: 0 2 600px;
    flex-direction: column;
    align-self: center;

    @media(max-width:$reg){
        width:100%;
        margin:0 auto;
        text-align: center;
    }
    @media(max-width:$mini){
        padding-top:33px;
    }
}
.about-us__content{
    width: 100%;
    display: flex;
    margin-left: auto;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-bottom: 60px;

    @media(max-width:$reg){
        text-align: center;
    }

    @media(max-width:$mini){
        padding:0 10px;
        margin-bottom: 25px;
    }
    p{
        font-family: "Lato";
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 10px;

        @media(max-width:$reg){
            width:100%;
            white-space: normal;
        }
    }

    :last-child{
        margin-bottom: 0;
    } 
}
.about__us_header{
    display: flex;
    align-self:center;
    align-items: flex-end;
    margin-bottom: 25px;

    @media(max-width:$mini){
        flex-direction: column;
        align-items: center;
    }
    
    h4{
        font-family: "Lato";
        font-size: 24px;
        font-weight: 700;
        margin-left: 10px;

        @media(max-width:$mini){
            font-size: 18px;
        }
    }
}
// Главный контейнер картинки<<<<<<<<<>>>>>>>>>
.fon-girl-container{
    display: flex;
    flex-basis: 590px;
    flex-shrink: 0;
    flex-grow: 1;

    @media(max-width:1500px){
        margin-left:-100px;
    }
    @media(max-width:$reg){
        display: none;
    }
    img{
        max-width: 100%;
        margin-left: -100px;
    }
}
// Страница стилей отзывы
.wrapper5{
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
    padding:62px 15px 100px 15px;
    background-image: url("../images/rec.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom:1px solid white;

    @media(max-width:$mini){
        padding:20px 5px;
    }
}

.wrapper5__header{
    font-family: "Lato";
    font-weight: 700;
    font-size: 36px;
    color:#FAFFFF;
    text-align: center;
    margin-bottom:55px;
    text-transform: uppercase;

    
    @media(max-width:$mini){
        font-size: 24px;
        margin-bottom: 33px;
    }
}

.section-reviews{
    width:100%;
    display: flex;
    flex-direction: column;
}

.reviews-container{
    width:100%;
    display: flex;
    justify-content: space-between;
    

    @media(max-width:$med){
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.reviews-box{
    max-width:270px;
}

.reviews-text{
    color:white;
    border:1px solid white;
    padding:10px 5px;
    margin-bottom:18px;

    p{
        font-family: "Lato";
        font-weight: 500;
        font-size: 15px;
        text-align: center;
    }
}

.reviews-bottom{
    display: flex;
    margin-bottom: 33px;
}

.reviews-ava{
    max-width:100%;
    flex:0 0 65px;
    background-image: url("../images/woman1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.reviews-name-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color:white;
    margin-left: 3px;

    :first-child{
        font-family: "Lato";
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 10px;
    }

    :last-child{
        display: inline-flex;
        font-family: "Lato";
        font-weight: 400px;
        font-size: 14px;
        text-align: center;
        background-color: #091020;
        color:#27C1E6;
        line-height: 25px;
        padding:0 8px;
        border-radius: 5px;

    }
}

.write-reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:flex-end;
    width:184px;
    height:62px;
    background-color: #091020;
    color:#27C1E6;

    @media(max-width:1200px){
        align-self:center;
    }
    @media(max-width:$mini){
        width:124px;
        height:44px;
    }
    a{
        font-family: "Lato";
        font-size: 18px;
        font-weight: 400;

        @media(max-width:$mini){
            font-size: 14px;
        }
    }
}

// Секция 6-------------------------
.wrapper6{
    max-width: 1920px;
    margin: 0 auto;
    background-color: #060F2B;
    padding:128px 15px 0 15px;

    @media(max-width:$mini){
        padding:30px 5px 25px 5px;
    }
}
.footer{
    max-width: 100%;
    display: flex;
    box-sizing: border-box;
}
.contacts-container{
    display: flex;
    flex-basis: 700px;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom:1px solid white;
    padding-bottom:25px;
    color: white;
    text-align: center;
}

.contacts-box{
   display: flex;
   flex-direction: column;
   align-items: center;
   width:100%;
   color:white;
   font-family: "Lato";
   line-height: 17px;
    
   @media(max-width:$mini){
       text-align: center;
       font-size: 12px;
   }

   >:first-child{
       width:65px;
       height:65px;

       @media(max-width:$mini){
           width:32px;
           height:32px;
       }
   }

   >:nth-child(2){
       padding-bottom:10px;
   }

   >img{
       padding-bottom:5px;
   }
}

.contacts-box-social-box{
    display: flex;
    align-items: flex-start;

    :first-child{
        margin-right:10px;
    }

}
.contacts-box-padding{
    padding-bottom:5px;
}